
.covid-infos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 15px;
}

.covid-info-item {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.covid-info-item p {
  font-size: 42px;
  font-weight: 500;
}

.covid-info-item span {
  font-size: 18px;
}

@media (max-width: 768px) {
  .covid-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .covid-info-item {
    margin-bottom: 20px;

  }
  
}