@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap);
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html, body {
  background-color: #fff;
  height: 100vh;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased
}

input, button, textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button, input {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.component-container {
  height: 100%;
  width: 100%;
}

.section {
  background-color: #fff;
  width: 100%; 
  padding: 20px;
}

.section-content {
  color: #333; 
  width: 100%;  
  max-width: 980px;
  margin: 0 auto;
  padding: 10px 30px;
}

.section-title {
  font-size: 28px;
  color: #333;
  margin: 15px 0;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 18px;
  line-height: 38px;
  text-align: center;
}


.section-dark {
  background-color: rgba(150,29,102,0.8);
  color: #fff;
}

.section-dark .section-title {
  color: #fff;
} 
.header {
  width: 100%; 
  height: 90px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 10;
}

 .header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;  
  max-width: 980px;
  margin: 0 auto;  
  padding: 10px 25px;
}

.header-container img {
  height: 10vh;
  margin-right: 40px;
}

.header-container nav ul li {
  display: inline-block;
  height: 60px;
}

.header-container nav ul li a {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  padding: 15px;
  
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.header-container nav ul li a:hover {
  color: #961D66;
  border-bottom: 4px solid #961D66;
}

/* Menu Hamburguer */
.menu-toggle {
  display: none;
  z-index: 10;
  width: 40px;
  height: 30px;
  margin-top: 8px;
  position: absolute;
  top: 10px;
  right: 14px;
}

.one,
.two,
.three {
  background-color: #961D66;
  height: 5px;
  width: 100%;
  margin: 6px auto;

  transition-duration: 0.3s;
}

@media (max-width: 767px) {
  .menu-section nav ul {
    display: none;
  } 

  .menu-section.on nav {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100vh;
      width: 100vw;

      position: absolute;    
      top: 0;
      left: 0;

      background-color: #961D66;
      transition: background-color 0.5s;
  } 

  .menu-section.on ul {
    display: block;
  }

  .menu-section.on ul li {
    display: block;
    margin-top: 20px ;
  }

  .menu-section.on  ul li a {
    font-size: 28px;
    color: #fff;
  }

  .menu-toggle {
    display: block;
    z-index: 120;
  }

  .menu-section.on .menu-toggle .one,
  .menu-section.on .menu-toggle .two,
  .menu-section.on .menu-toggle .three {
    background-color: #fff;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px,7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(7px,-10px);
  } 
}
.footer {
  width: 100%; 
  height: 120px;
  color: #fff;
  background-color: #961D66;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;  
  height: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 15px;
}

.footer-container p {
  font-weight: bold;
  font-size: 16px;
}

.footer-container span {
  font-size: 16px;
  font-weight: 500;
  flex-wrap: wrap;

}

.footer-container .social-icons {
  display: flex;
  margin-bottom: 20px;
}

.footer-container .social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 20px;
  transition: all 0.25s;
}

.footer-container .social-icons a svg{
  transition: all 0.25s;
}

.footer-container .social-icons a:hover {
  background-color:#7517A3;
  transform: translateY(-5px);
}

.footer-container .social-icons a:hover svg {
  fill: #fff
}

.footer-container .devpleno {
  display: flex;
  align-items: center;
}



.footer-container .devpleno img {
  width: 100px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
  }
}
.home-container {
  height: 100%;
  width: 100%;
  background-image: url("/home.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background {

}

.background .bg-filter {  
  height: 100%;
  width: 100%;
  background-color: rgba(150,29,102,0.8);
}

.background .bg-filter .content {
  max-width: 980px;
  margin: 0 auto;
  padding: 30px;
  color: #fff
}

.background .bg-filter .content h1 {
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.background .bg-filter .content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.background .bg-filter .content p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 25px;
  text-align: justify;
}

.background .bg-filter .content button {
  color: #ffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 20px;
  border: 3px solid #fff;
  transition: all 0.25s;
}

.background .bg-filter .content button:hover {
  transform: translateY(-10px);
}

.covid-infos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 15px;
}

.covid-info-item {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.covid-info-item p {
  font-size: 42px;
  font-weight: 500;
}

.covid-info-item span {
  font-size: 18px;
}

.app-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 15px;
}

.app-detail-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  border: 2px solid #fdfdfd;
  border-radius: 16px;
  transition: all 0.5s;
}

.app-detail-item:hover {
  background-color: #fdfdfd;
  transform: translateY(-10px);
}


.app-detail-item p {
  text-align: center;
  color: #555;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 25px;
}


.app-detail-item span {
  text-align: justify;
  color: #707070;
  line-height: 25px;
  font-size: 14px;
}

.app-detail-item  div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

  height: 68px;
  width:  68px;
  border-radius: 50%;
  background-color: #961D66dd;
}

@media(max-width: 768px) {
  .covid-infos,
  .app-details {
    grid-template-columns: 1fr;
  }

  .app-detail-item{
    padding: 15px 8px;
  }

  .app-detail-item p {
    font-size: 22px;
    line-height: 30px;
  }

  .app-detail-item span {
    font-size: 18px;
    line-height: 32px;
  }
  
  .covid-info-item p {
    font-size: 56px;
  }
  
  .covid-info-item span {
    font-size: 20px;
  }
}


@media (max-width: 425px) {
  .background .bg-filter .content h1 {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  
  .background .bg-filter .content h2 {
    font-size: 22px;
  }
  
  .background .bg-filter .content p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 25px;
    text-align: justify;
  }
  
}

/*# sourceMappingURL=styles.chunk.css.map*/