@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html, body {
  background-color: #fff;
  height: 100vh;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased
}

input, button, textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button, input {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit
}

 .button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 300px;
  color: #ffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 20px;
  border: 3px solid #fff;
  transition: all 0.25s;
}

.button:hover {
  background-color: #fff;
  color: #961D66;
  -webkit-box-shadow: 6px 12px 12px -6px rgba(31,31,31,0.59);
  -moz-box-shadow: 6px 12px 12px -6px rgba(31,31,31,0.59);
  box-shadow: 6px 12px 12px -6px rgba(31,31,31,0.59);
  transform: translateY(-5px);
}

.section {
  background-color: #fff;
  width: 100%; 
  padding: 30px 20px;
}

.section-content {
  color: #333; 
  width: 100%;  
  max-width: 980px;
  margin: 0 auto;
  padding: 10px 30px;
}

.section-title {
  font-size: 28px;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px;
  line-height: 38px;
  text-align: center;
}

.section-dark {
  background-color: rgba(51,0,51,0.8);
  color: #fff;
}

.section-dark .section-title {
  color: #fff;
} 

.app-container {
  background-color: #f5f5f5;
  height: 100vh;
}

.fullscreen {
  height:  100vh;
  width: 100vw;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}