.home-container {
  height: 100%;
  width: 100%;
  background-image: url("/home.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

 .bg-filter {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 100%;
  width: 100%;
  background-color: rgba(150,29,102,0.8);
}

.bg-filter .content {
  max-width: 980px;
  margin: 0 auto;
  padding: 30px;
  color: #fff
}

.bg-filter .content h1 {
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.bg-filter .content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.bg-filter .content p {
  font-size: 20px;
  line-height: 35px;
  font-weight: 300;
  margin-bottom: 25px;
  text-align: justify;
}

.protects-your-community,
.share-your-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  margin-bottom: 30PX;
}

.protects-your-community img,
.share-your-status img {
  height: 260px;
}

.protects-your-community img{
  margin-right: 40px;
}

.share-your-status img {
  margin-left: 40px;
}

.protects-your-community h1,
.share-your-status h1  {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 25px;
}


.protects-your-community p,
.share-your-status p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: justify;
}

@media(max-width: 768px) {
  .protects-your-community,
  .share-your-status {
    flex-direction: column;
    justify-content: center;
  }

  .protects-your-community img,
  .share-your-status img {
    height: 180px;
    margin: 0;
  }

  .protects-your-community h1,
  .share-your-status h1  {
    font-size: 22px;
    margin: 10px 0;
  }
}


@media (max-width: 425px) {
  .bg-filter {
    justify-content: center;
  }
  
  .bg-filter .content h1 {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  
   .bg-filter .content h2 {
    font-size: 22px;
  }
  
  .bg-filter .content p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 25px;
    text-align: justify;
  }
}